@font-face {
  font-family: 'Lora';
  src: url('Lora-VariableFont_wght.ttf');
}


#container {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answer {
  cursor: pointer;
  user-select: none;
  font-size: 4em;
  padding: 1em;
  text-align: center;
  font-weight: 550;
}

html {
  color: #853503;
  background-color: #f3e6c0;
	font-family: 'Lora', 'Times New Roman', Times, serif
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  flex-direction: column;
}

#settings {
  width: 100%;
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* margin-top: auto; */
}

.group {
  margin: 1em;
}

label {
  user-select: none;
}

a:visited, a {
  color: #853503;
  text-decoration: none;
  cursor: pointer;
}